fraud.wsdl

<definitions name="FraudCheckService"
             targetNamespace="http://localhost:8085/fraudcheck"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://localhost:8085/fraudcheck"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <types>
        <xsd:schema targetNamespace="http://localhost:8085/fraudcheck">
            <xsd:element name="fraudCheckRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="customerId" type="xsd:int"/>
                        <xsd:element name="idNumber" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="fraudCheckResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="bankStatus" type="xsd:string"/>
                        <xsd:element name="nationalStatus" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <message name="fraudCheckRequest">
        <part name="parameters" element="tns:fraudCheckRequest"/>
    </message>
    <message name="fraudCheckResponse">
        <part name="parameters" element="tns:fraudCheckResponse"/>
    </message>

    <portType name="Fraud_PortType">
        <operation name="FraudCheck">
            <input message="tns:fraudCheckRequest"/>
            <output message="tns:fraudCheckResponse"/>
        </operation>
    </portType>

    <binding name="Fraud_Binding" type="tns:Fraud_PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="FraudCheck">
            <soap:operation soapAction="FraudCheck"/>
            <input>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="entelect:devcamp:fraudcheckservice"
                           use="literal"/>
            </input>
            <output>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="entelect:devcamp:fraudcheckservice"
                           use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="Fraud_Service">
        <documentation>Definition of Fraud Check Service</documentation>
        <port binding="tns:Fraud_Binding" name="Fraud_Port">
            <soap:address location="http://localhost:8085/FraudCheck"/>
        </port>
    </service>

</definitions>
